{%extends 'base.html'%}
{%block content%}
    <div class="bg-white z1 z2 content-section">
        <legend class="mb-4 display-4 ml-2">You Have been logged out successfully</legend>
        <div class="border-top bg-white pt-4 pl-3">
            <a href="{%url 'login'%}"><button class="btn btn-outline-danger">Login Again?</button> </a>
        </div>
    </div>
{%endblock content%}