{%extends 'base.html'%}
{%load crispy_forms_tags %}
{%block content%}
    <div class="content-section container z1 pb-3 bg-white d-flex justify-content-around align-items-center">
        <div class="media ">
            <img src="{{user.profile.image.url}}" height="100" width="100" alt=".." class="rounded-circle mt-3 account-img">
            <div class="media-body mt-3 ml-2">
                <h2 class="account-heading mt-3">Username: {{user.username}}</h2>
                <p class="text-secondary">Email: {{user.email}}</p>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group mt-4 ">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group ">
                    <button class="btn btn-outline-danger" type="submit">Update Profile</button>
                </div>
        </form>
    </div>
{%endblock content%}