{%extends 'base.html'%}
{%load crispy_forms_tags %}
{%block content%}
    <div class="content-section container z1 bg-white">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 display-4">Join Today</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-1 pb-3">
            <small class="text-muted">
                Already Have an Account? <a class="ml-4" href="{%url 'login'%}">Sign In</a>
            </small>
        </div>
    </div>
{%endblock content%}