{%extends 'base.html'%}

    {%block content%}
    <div class='container pt-3 clearfix'>
        <div class="jumbotron bg-white">
            <h1 class="display-4">TextUtils App</h1>
            <p class="lead">All the requested fuctions have been applied</p>
            <hr class="my-4">
            <p>{{analyzed}}</p>
            <a class="btn btn-outline-danger btn-lg" href="{%url 'textutils'%}" role="button">Perform another fuction</a>
          </div>
    </div>
{%endblock content%}    