{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Text Utils | {{title}}</title>
    <style>
      .z1 {
        font-family: ubuntu;
      }

      .z2 {
        height: 300px;
      }
      a.nav1:hover {
        background-color: red;
        color: white;
        font-weight: bold;
      }
      .img1 {
        height: 100px;
        width: 100px;
      }

      .nav-h {
        height: 50px;
      }
    </style>

</head>
<body style="background-image: url('/media/bg.jpg')">
    
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark nav-fill">
          <div class="container">
            <a class="navbar-brand text-danger" href="{%url 'home'%}">TextUtils.in</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link nav1" href="{%url 'textutils'%}">
                    App</a>
                </li>
                <!-- <li class="nav-item active">
                  <a class="nav-link nav1" href="{%url 'blog'%}">
                    Blog
                  </a>
                </li> -->
                <li class="nav-item active">
                  <a class="nav-link nav1" href="{%url 'documentation'%}">
                    Documentation
                  </a>
                </li>
          
              </ul>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <form class="form-inline">
                  {%if user.is_authenticated%}
                    <a href="{%url 'profile'%}"><button class="btn btn-outline-light rounded-pill" type="button">Profile</button></a>&nbsp;&nbsp;&nbsp;
                    <a href="{%url 'logout'%}"><button class="btn btn-outline-light rounded-pill" type="button">Logout</button></a>
                  {%else%}
                    <a href="{%url 'login'%}"><button class="btn btn-outline-light rounded-pill" type="button">Login</button></a>&nbsp;&nbsp;&nbsp;
                    <a href="{%url 'register'%}"><button class="btn btn-outline-light rounded-pill" type="button">Register</button></a>
                  {%endif%}
                </form>
            </nav>
          </div>
        </nav>

    <div class="container mt-4 ">    
        <main>
            {%if messages%}
              {%for message in messages%}
                <div class="alert alert-{{message.tags}}">
                  {{ message }}
                </div>
              {%endfor%}
            {%endif%}
            {%block content%}
            {%endblock%}
        </main>
    </div>
</body>
</html>