{%extends 'base.html'%}
{%block content%}
    <div class="container z1 col-md-12 bg-white border border-rounded d-flex flex-column">
        <h2 class="display-3 mt-2">Textutils Documentation</h2>
        <hr>
        <h3 class=" mt-2">Introduction</h4>
            <p class="justify ml-1">The project is made for SDL Lab. It uses django framework to create a backend for a website on local host, which is not <span class="font-italic">currently</span> hosted on any online server as it has not been completely verfied for its security. Still for the current project it is enough.</p>
            <p class="justify ml-1">In this project we use a <code>textarea</code> input type in a form through POST method to take user input and show output on a different page according to the selections made by the user.</p>

        <hr>
        <h3 class=" mt-2">What is Django</h4>
            <p class="justify ml-1">Django is a high-level Python web framework that enables rapid development of secure and maintainable websites. Built by experienced developers, Django takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It is free and open source, has a thriving and active community, great documentation, and many options for free and paid-for support. </p>
            <div class="media position-relative">
                <img src="/media/django.png" class="mr-3 img1" alt="...">
                <div class="media-body">
                  <h5 class="mt-0">Django Documentation</h5>
                  <p>You try to get more information about django on this website.</p>
                  <a href="https://docs.djangoproject.com/en/2.2/" class="stretched-link">Django Documentation</a>
                </div>
              </div>   
        
        <hr>
        <h3 class=" mt-2">Python codes used</h4>
            <p class="justify ml-1">1. To remove Punctuations</p>
            <code><pre class="justify ml-1">
    if removepunc=='on': <br>
        for char in userinput: <br>
            if char not in punctuations:<br>
                analyzed_text+=char<br>
    analyzed_text=analyzed_text<br>
            </pre></code>
            <p class="justify ml-1">2. To Capitalize</p>
            <pre class="justify ml-1">
if fullcaps == 'on':
    if analyzed_text=='':
        analyzed_text=userinput.upper()
    else:
        analyzed_text=analyzed_text.upper()
            </pre>

            <p class="justify ml-1">3. To remove extra spaces</p>
            <pre class="justify ml-1">
if extraspaceremover == 'on':
    if analyzed_text=='':
        for index, char in enumerate(userinput):
            if not(userinput[index] == " " and userinput[index+1]==" "):
                analyzed_text = analyzed_text + char
    else:
        analyzed_text1=''
        for index, char in enumerate(analyzed_text):
            if not(analyzed_text[index] == " " and analyzed_text[index+1]==" "):
                analyzed_text1 = analyzed_text1 + char
    
            </pre>

            <p class="justify ml-1">4. To remove Newlines</p>
            <pre class="justify ml-1">
    if newlineremover == 'on':
        if analyzed_text=='':
            for char in userinput:
                if char != '\n' and char != '\r':
                    analyzed_text = analyzed_text + char
        else: 
            analyzed_text=''
            for char in analyzed_text:
                if char != '\n' and char != '\r':
                    analyzed_text1 = analyzed_text1 + char
            analyzed_text=analyzed_text1
            </pre>

        <hr>
     </div>
{%endblock content%}