{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
            a{
                text-decoration: none;
                color:red;
            }

            body {
                background: rgba(0, 0, 0, 0.9);
                margin: 0;
                color: red;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              }
              
              .showcase::after {
                content: '';
                height: 100vh;
                width: 100%;
                background-image: url('/media/bg.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                display: block;
                filter: blur(10px);
                -webkit-filter: blur(10px);
                transition: all 1000ms;
              }
              
              .showcase:hover::after {
                filter: blur(0px);
                -webkit-filter: blur(0px);
              }
              
              .showcase:hover .content {
                filter: blur(2px);
                -webkit-filter: blur(2px);
              }
              
              .content {
                position: absolute;
                z-index: 1;
                top: 20%;
                left: 50%;
                margin-top: 105px;
                margin-left: -145px;
                width: 300px;
                height: 350px;
                text-align: center;
                transition: all 1000ms;
              }
              
              .content .logo {
                height: 180px;
                width: 180px;
              }
              
              .content .title {
                font-size: 2.2rem;
                margin-top: 1rem;
              }
              
              .content .text {
                line-height: 1.7;
                margin-top: 1rem;
                font-size: 1.6rem;
              }
              
              .container {
                max-width: 960px;
                margin: auto;
                overflow: hidden;
                padding: 4rem 1rem;
              }
              
              .center {
                text-align: center;
                margin: auto;
              }
              
              .bg-dark {
                background: #333;
                color: #f4f4f4;
              }
              
              footer {
                padding: 2.2rem;
              }
              
              footer p {
                margin: 0;
              }
              

    </style>
    <title>TextUtitlities</title>
</head>
<body>
        <header class="showcase">
            <a href="{%url 'textutils'%}">
                <div class="content">
                 <img src="/media/T.png" class="logo">
                  <h1 class="title">
                    Welcome To TextUtitlities.in
                  </h1>
                  <div class="text">
                    We allow you to perform different text related operations.
                  </div>
                </div>
            </a>
              </header>
    
              <footer class="center bg-dark">
                <p>TextUtitlities &copy; 2019</p>
              </footer>
    
</body>
</html>