{%extends 'base.html'%}

    {%block content%}

    <div class='container shadow col-md-12 p-3 mb-5 bg-white rounded col-md-8 '>
        <h2>TextUtils App</h2>
        <p class="text-muted text-secondary">Enter the text to edit in the link </p>
        <form action="/analyze/" method="post">
            {% csrf_token %}

            <div class="form-group">
                <!-- <label for="exampleFormControlTextarea1">Enter your text here!</label> -->
                <textarea class="form-control rounded" name='user_input' rows="10" placeholder="Enter Your Text Here!" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            
            <div class="custom-control custom-switch">
                <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Remove Punctuations</label>
            </div>
            
                <div class="custom-control custom-switch">
                <input type="checkbox" name="fullcaps" class="custom-control-input" id="customSwitch2">
                <label class="custom-control-label" for="customSwitch2">UPPERCASE</label>
            </div>
            
                <div class="custom-control custom-switch">
                <input type="checkbox"  name="newlineremover" class="custom-control-input" id="customSwitch3">
                <label class="custom-control-label" for="customSwitch3">New Line Remover</label>
            </div>
            
                <div class="custom-control custom-switch">
                <input type="checkbox"  name="extraspaceremover" class="custom-control-input" id="customSwitch4">
                <label class="custom-control-label" for="customSwitch4">Extra Spaces Remover</label>
            </div>
                
                <button type="submit" class="btn btn-outline-danger mt-2">Analyze Text</button>
                
        </form>
        </div>

    
    {%endblock content%}